@model IEnumerable<CrudBS.Models.Hospedaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaHospedajeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoReservaHospedajeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacionHospedajeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaHospedajeNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoReservaHospedajeNavigation.CodigoReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacionHospedajeNavigation.NumeroHabitacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoHospedaje">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoHospedaje">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoHospedaje">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
