@model IEnumerable<CrudBS.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaquetesReservaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServiciosReservaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacionReservaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anticipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaquetesReservaNavigation.IdPaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServiciosReservaNavigation.IdServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacionReservaNavigation.NumeroHabitacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
